@import '../../../../shared/styles/colors.scss';

.leaderboard-title-panel {
  width: 100%;
  margin: 20px auto;
  height: 10%;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}
