/* colors for the app */
$background-color: #EEF0F1;
$primary-color: #FBFDFD;
$primary-text-color: #000000;
$secondary-text-color: #828282;
$extra-text-color: #6DCC72;
$primary-shadow-color: rgba(0, 0, 0, 0.1);